*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    background-color: #30475e;
    color: white;
    padding: 20px 0;
}

header nav a{
    color: white;
    margin-right: 30px;
    font-weight: 500;
}

form {
    min-width: 400px;
    padding:20px 40px;    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  .contain {
text-align: center;
margin: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
align-items: center;
  }