
a{
    border: 1px solid red;
}
div{
    border: 1px solid red;
    float: left;
    width:200px;
    margin: 10px;
    padding:5px;
}

#i1:hover{
font-size:40px;

}
tr:nth-child(even){
background-color:#aabbcc;
}
tr:nth-child(odd){
background-color:red;
}

td{
padding-right:2px;
}

tr:hover{
background-color: blue;
cursor:pointer;
}

